<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack Sinatra</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
           <a class="brand" href="/">Blackjack Sinatra</a>
            <ul class="nav">
              <li><a href="/">Home</a></li>
            </ul>
            <% if user_logged_in? %>
            <ul class="nav pull-right">
              <li><a href="/logout">Logout</a></li>
            </ul>
            <% end %>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
